<div id="footer" class="panel">
    <div class="panel-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    <p>&copy 2025 SensAILabs. </p>
                    <p>We are part of the <a href="https://ihpme.utoronto.ca">Institute of Health Policy, Management and Evaluation</a>, <a href="https://www.dlsph.utoronto.ca">Dalla Lana School of Public Health </a> at <a href="https://www.utoronto.ca/">University of Toronto</a>
                    <p></p>
                    <p>

                </div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    Institute of Health Policy, Management and Evaluation, University of Toronto<br>
                    Health Sciences Building <br>
                    155 College Street, Suite 425, Toronto, ON, M5T 3M6<br>
                    (<a href="https://www.google.com/maps/place/Health+Sciences+Building/@43.6592009,-79.3926084,19.08z/data=!3m1!5s0x882b34c7f214d44b:0xa1040a89f430f59d!4m6!3m5!1s0x882b35001a2079b1:0x992db7d047436a05!8m2!3d43.6591144!4d-79.3925372!16s%2Fg%2F11vs0q0rf7?entry=ttu&g_ep=EgoyMDI0MTExOC4wIKXMDSoASAFQAw%3D%3D">Maps</a>)
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>